ImageProcessingLibrary/ImageProcessingLibrary/obj/
ImageProcessingLibrary/ImageProcessingLibrary/bin/
ImageProcessingLibrary/ImageProcessingLibraryUser/obj/
ImageProcessingLibrary/ImageProcessingLibraryUser/bin/
ImageProcessingLibrary/packages/
ImageProcessingLibrary/Images/
ImageProcessingLibrary/TestConsole/obj
ImageProcessingLibrary/TestConsole/bin
