ImageProcessingLibrary/ImageProcessingLibrary/obj/
ImageProcessingLibrary/ImageProcessingLibrary/bin/
ImageProcessingLibrary/ImageProcessingLibraryUser/obj/
ImageProcessingLibrary/ImageProcessingLibraryUser/bin/
ImageProcessingLibrary/ImageProcessingLibraryUser/Form1.resx
ImageProcessingLibrary/ImageProcessingLibraryUser/Properties/Resources.resx
ImageProcessingLibrary/Images/
